* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 50px 1fr 50px;
}

main {
  grid-area: main;
  background-color: #f2f2f2;
}

footer {
  grid-area: footer;
  background-color: #2e35f2;
}
