.products .products_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.products .products_list .single_product {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.products .products_list .single_product:hover {
  transform: scale(1.05);
}
.products .products_list .single_product .img_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.products .products_list .single_product .img_wrapper img {
  width: 100%;
  height: auto;
}
.products .products_list .single_product .product_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 10px;
}
.products .products_list .single_product .product_details h3 {
  font-weight: 500;
}
.products .products_list .single_product button {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 10px 0;
  background-color: #2e35f2;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}